# Ignore datasets
data/
outputs/


# Ignore conda / virtual envs
venv/
aptos-env/



# Ignore downloaded installers
Miniconda3-latest-Linux-x86_64.sh

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System stuff
.DS_Store